@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*{
    font-family: 'Prompt', sans-serif !important;
}
/* modal  */
.modal-detail {
  width: 40% !important;
  z-index: 10000;
  margin-left: 30%;
  margin-top: 10%;
}
.md-table {
  width: 100%;
}
.form-modal {
  height: 50vh;
  overflow-y: scroll;
}
/* end modal  */

.fullscreen {
    /* สูงเท่ากับความสูงของหน้าจอ */
    height: 70vh;
    /* ทำให้ .left, .center และ .right ต่อกันเป็นแนวนอน */
    display: flex;
  }
body {
  background-color:white;
}
  .left,
  .center,
  .right {
    box-sizing: border-box;
   
  }
  .img-user {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
  .left {
    width: 25%;
  }
  #row_profile{
      margin-left: 7px;
      margin-bottom: 1em;
  }
.btn-noti {
  width: 30px;
  text-align: center;
  display: block;
  margin-top: -30px;
  margin-left: 230px;
  position: absolute;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(209, 207, 93);
}
  

  .center {
    background-color:rgb(253, 253, 253);
    width: 78%;
    margin-left: 21%;
    border-radius: 5px;
    margin-top: 2em;
    height: 45.5em;
    box-shadow: 5px 5px 10px rgb(236 236 236)!;
    /* ถ้าข้อมูลมันเยอะจนล้นตามแนวแกน y ให้มัน scroll */
    overflow-y: scroll;
  }

  .bar{
      width:50%; 
      z-index: -10;
      float: left;
      font-size: 16px;
  }
 
 h2 {
   /* text-align: center; */
   padding: 10px 0;
   float: left;
   display: block;
 }

.btm-srh{
  margin-top: 4%;
  /* margin:  0 2%; */
} 
 .welcome {
    padding-top: 1em;
    background: transparent;
    border-radius:80px ;
    height: 60px;
    border: 2px solid black;
    /* text-align: center; */

  }
  a.active{
    font-size: 18px !important;
    /* margin-right: 0.5em; */
    text-decoration: none; 
    /* padding: 4px 20px;
    width: 15em; */
    color: rgb(0, 0, 0) !important;
    border-radius: 20px; 
    background-color: aliceblue;
    transition: 0.2s;
    /* border: #FFCAB0 solid 2px; */
  }

  a.active:hover{
    text-decoration: 3px aliceblue;
  }
 
  a.manage{
    font-size: 18px!important;
    margin-right: 0.5em;
    text-decoration: none;
   
    color: rgb(0, 0, 0) !important;
   /* background-color: aliceblue; */ 
    /* transition: 0.2s; */
  }
  a.manage:hover{
    border-radius: 20px;
    background-color: aliceblue;
    transition: 0.2s;
  }


 #search{
   border-radius:15px ;
   border: #b9b8b8;
   padding: 7px 30px;

 margin-left:1% ;
 }
  #table th{
  padding: 2% 0;
  
}

td{
  padding: 2% 0;
} 

.info {
  /* border: solid 3px #668d7a; */
  padding: 2% 2% !important;
  margin: 5% 5% !important;
  border-radius: 12px !important;
  
}
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#fff;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: #b9b8b8 2px 10px 20px;
  }
  
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #474545;
  display: block;
  transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #898f92;
  }
  #fullscreen{
      height: 100vh;
  } 

.btn-back {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 15em;
    font-size: 1.5em;
    padding: 5px;
margin-top: 0.5em;
}
.div-bigbox {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.div-bigbox2 {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.admin {
  border-right: 1px solid red;
}
.header-purchase {
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  overflow-x: scroll;
  display: flex;
}
.order-no {
  padding: 10px 15px;
  text-decoration: none;
  background-color: rgb(172, 47, 172);
  color: white;
  border-radius: 10px;
  display: inline-block;
  margin-right: 1em !important;
}
.row-big {
  border-top: 1px solid rgb(226, 226, 226);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.chat-bar {
  width: 100%;
  height: 3.5em;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.select-bill {
  width: 100%;
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1.5fr 1fr 3fr;
}
.select-bill p {
  padding: 2px 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  text-align: center;
  color: green;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.dropdown-toggle {
  width: 50% !important;
  border: 1px solid lightgray !important;
  margin-top: -5px !important;
  float: right !important;
}

.div-chat {
  width: 100%;
  height: 65vh;
  background-color: whitesmoke;
  overflow-y: scroll;
}
.chat-people {
  width: 100%;
  height: 86vh;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
}
.blank-bill {
  text-align: center;
  font-weight: bold;
  color: rgb(172, 47, 172);
  letter-spacing: 2px;
  padding-top: 20vh;
}
.chat-left {
  padding: 1em;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  position: relative;
}
.div-left1 {
  background-color: white;
  color: gray;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px 20px 20px 0px;
}
.time1 {
  position: absolute;
  bottom: -25px;
  left: 10px;
  color: rgb(175, 175, 175);
}
.time2 {
  position: absolute;
  bottom: -25px;
  right: 15px;
  color: rgb(175, 175, 175);
}
.div-left1 p,.div-right2 p {
  margin: 0;
}
.chat-right {
  padding: 1em;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  position: relative;
}
.div-photo {
  margin-top: 10px;
}
.div-right2 {
  background-color: rgb(52, 164, 255);
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px 20px 0px 20px;
}
.img-chat1 {
  display: block;
  width: 50%;
  border-radius: 10px;
}
.img-chat2 {
  display: block;
  width: 50%;
  border-radius: 10px;
  float: right;
}
.row-big-input {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}
.input-insert {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.div-input {
  width: 100%;
  height: 14.5vh;
  box-shadow: -1px -1px 5px lightgrey;
  padding: 5px;
  background-color: rgb(241, 247, 247);
}
.btn-send {
  display: block;
  background-color: rgb(10, 186, 255) !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 2em;
  margin: auto;
  width: 70%;
  border-radius: 10px;
  border: 0;
  height: 2em !important;
}
.btn-all {
  font-size: 1.2em;
}
.btn-view {
  font-size: 1.5em;
  /* padding: 3px 5px; */
  background-color: rgb(255, 255, 255);
  color: rgb(172, 47, 172);
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;
}

.btn-end {
  padding: 3px 5px;
  background-color: rgb(230, 183, 31);
  color: white;
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;

}
.btn-cancel {
  padding: 3px 5px;
  background-color: rgb(241, 12, 81);
  color: white;
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;

}

.chat-people a {
  text-decoration: none;
}
.order-no p {
  margin: 0;
}
.order-no:hover{
  color: white;
  background-color: rgb(145, 35, 248);
}
.people1 {
  display: grid;
  margin-bottom: 1em !important;
  grid-template-columns: 0.5fr 2fr;
  line-height: 20px;
  margin: 1px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 1px 1px 5px rgb(228, 225, 225);
}
.p-mix {
  padding: 10px;
}
.p-people-name {
  color: rgb(145, 35, 248);
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.4em;
}
.p-username {
  margin: 0;
  letter-spacing: 2px;
  font-size: 1.1em;
  color: rgb(145, 145, 145);
}
.profile {
  width: 4em;
  height: 4em;
  object-fit: cover;
  border-radius: 50%;
}
.text-from {
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(0, 97, 243);
}
.old-slip {
  margin:10px;
  font-size: 1.2em;
  
}
.no-fead {
  text-align: center;
  font-size: 2em;
  margin-top: 30vh;
}
.textarea-descript {
  margin-top: 0;
  display: block;
  width: 90%;
  padding: 0.5em;
  height: 15vh;
  margin: auto;
  border-radius: 10px;
  border: 1px solid red;
}
::-webkit-scrollbar {
  display: none;
}
.img-old {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 1em;

}
.btnconfirm {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: auto;
  margin-top: 10vh;
}
.btnconfirm2 {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: auto;
  margin-top: 5vh;
}
.cancelorder {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  margin: auto;
  text-decoration: none;
  padding: 5px;
  color: white;
  background-color: rgb(255, 7, 81);
  border-radius: 10px;
  transition: .2s;
}
.cancelorder:hover {
  letter-spacing: 3px;
  color: white;
}
.confirmorder {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  margin: auto;
  text-decoration: none;
  padding: 5px;
  color: white;
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
  transition: .2s;
}
.confirmorder:hover {
  letter-spacing: 3px;
  color: white;
}
.title1 {
    color: rgb(7, 168, 243);
}
.divbox1 {
    margin-top: 10%;
}
.divbox3 {
    line-height: 30px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgb(170, 169, 169);
}
.text-color {
    color: rgb(233, 149, 54);
}
.p-name {
    font-size: 1.3em; 
    color: #686a6b;
}
.img-slip {
    width: 70%;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.col-address2 {
    margin-top: 5px;
}
.text-des1, .text-des2 {
    display: inline-block;
}
.text-des1 {
    font-size: 1.5em;
}
.text-des2 {
    font-size: 1.2em;
}
.text-right {
    text-align: right;
}
.form-descript {
    padding: 10px;
    border: 1px solid lightgray;
    outline: none !important;
    width: 90% !important;
    display: inline-block;
}
.select01 {
  display: inline-block;
  width: 13em;
  border-radius: 7px;
  padding: 5px;
  outline: none;
  background-color: rgb(8, 156, 214);
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
}
.btn-submit {
    background-color: dodgerblue;
    border: 0px;
    border-radius: 10px;
    display: block;
    width: 10em;
    padding: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    float: right;
    margin-right: 10%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 1180px) {
  .username ,.mailji,img.img_profile,h4{
    display: none;
  }
  .sidenav{
    width: 11%;
    padding-top: 0.1em;
  }
  .bi-graph-up,
  .bi-ui-checks-grid,
  .bi-basket-fill,
  .bi-clipboard-data,
  .bi-cash-coin,
  .bi-star,
  .bi-people-fill,
  .bi-shop-window,
  .bi-clipboard-data,
  .bi-chat-square-text-fill,
  .bi-chat-text-fill {
    text-align: center;
    display: block;
    font-size: 1.5em;
  }

  .menu {
    text-align: center;
  }

  .dpn {
    display: none;
  }

  a.menu,
  a.menu-active {
    width: 5em !important;
    margin-right: 0;
  }

  .sidenav a {
    padding: 10px 16px 6px 16px;
  }

  a.btn_logout {
    font-size: 0.8em !important;
    font-weight: bold;
    width: 90% !important;
  }
  
  .chat-bar {
    grid-template-columns: 4fr 3fr;
  }
  .div-chat {
    width: 100%;
    height: 69vh;
    background-color: whitesmoke;
    overflow-y: scroll;
  }
  .chat-people {
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-right: 1px solid lightgray;
    overflow-y: scroll;
  }
  .blank-bill {
    text-align: center;
    font-weight: bold;
    color: rgb(172, 47, 172);
    letter-spacing: 2px;
    padding-top: 20vh;
  }
 
  .center {
    margin-left: 12%;
    width: 87%;
    height: 90vh !important;
    box-shadow: 5px 5px 10px rgb(236 236 236);
  }
  

}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}





