@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

*{
    font-family: 'Prompt', sans-serif !important;
}
/* แต่งส่วน modal  */ 

.set-cus {
  width: 100% !important;
  background-color: #dddddd57 !important;
  height: 100vh !important;
}

.set-cus-content {
  margin-left: -25% !important;
  width: 50em !important;
  height: 30em !important;
}
.row-setcus {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 50px !important;
  width: 60%;
  margin: auto;
}
.row-setcus label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.row-setcus input {
  width: 80%;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: 2px solid lightblue;
}
.modal-btn-setcus {
  position: absolute;
  bottom: 50px;
  width: 80%;
  margin-left: 5vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

h4 , h5{
  font-family: 'Prompt', sans-serif !important;
  margin-left: 10px !important;
}
.close{
  border: 1px solid rgba(192, 185, 185, 0);
  background-color: rgba(192, 185, 185, 0);
  padding: 0px 0px !important;
  width: 40px;
  /* height: 20px; */
  border-radius: 5px;
  color: #474545;
  font-size: 50px;
}

.btn-primary{
  float: right;
  margin-right: 9%;
  background-color: rgb(21, 194, 185) !important;
  border: 0px !important;
}
.btn-primary:hover{
  float: right;
  margin-right: 9%;
  background-color: rgb(25, 151, 145) !important;
  border: 0px;
}
#page-top{
    background-color: #fcfcfc;
}
.fullscreen {
    /* สูงเท่ากับความสูงของหน้าจอ */
    height: 70vh;
    /* ทำให้ .left, .center และ .right ต่อกันเป็นแนวนอน */
    display: flex;
  }

  .left,
  .center,
  .right {
    box-sizing: border-box;
    padding: 16px;
  }
  .left {
    width: 15%;
  }
  #row_profile{
      margin-left: 7px;
      margin-bottom: 1em;
  }
  .center {
    background-color:#ffffff;
    width: 78%;
    margin-left: 21%;
    border-radius: 5px;
    margin-top: -9em;
    height: 44em;
    box-shadow: 5px 5px 10px rgb(236, 236, 236) ;
    /* ถ้าข้อมูลมันเยอะจนล้นตามแนวแกน y ให้มัน scroll */
    overflow-y: scroll;
  }
::-webkit-scrollbar {
    display: none;
  }
  .bar{
    width: 100%;
    /* background-color:#8e24aa; */
    height: 15em;
    z-index: -10;
    padding: 10px;
}

.span-pdname {
  width: 90%;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.add{
  width: 10em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
  padding: 10px;
  background-color: rgb(6, 186, 241);
  color: white;
  border: none;
  z-index: 1000;
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 10px;
  transition: 0.3s;
   text-decoration: none;
}
.add:hover{
  background-color: rgb(7, 159, 206);
  color: white;
}
a.manage{
  font-size: 1.3em !important;
  display: inline-block;
  width: 6em !important;
  text-decoration: none;
  padding: 4px 14px;
  border-radius: 15px;
  color: rgb(117, 117, 117) !important;
  margin: 5px;
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
    letter-spacing: 2px;
    text-align: center;
}
a.manage:hover{
  background-color: rgb(139, 211, 253);
  /* border: 2px solid rgb(128, 208, 255); */
}
a.manage-active{
  font-size: 1.3em !important;
  text-decoration: none;
  display: inline-block;
  width: 6em !important;
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
  padding: 4px 14px;
    width: 15em;
    color: rgb(255, 255, 255) !important;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(78, 190, 255);
  border: 2px solid rgb(78, 190, 255);
    transition: 0.5s;
    letter-spacing: 2px;
}
.welcome{
  margin-left: 35%;
  margin-top: 0.7em;
}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: #b9b8b8 2px 10px 20px;
  }
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #474545;
    display: block;
    transition: 0.3s;
  }
.sidenav a:hover {
    color: #898f92;
  }
  #fullscreen{
      height: 100vh;
  }

  .row-set-cus {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    height: 15em;
    position: relative;
    width: 70%;
    margin: auto;
  }
  #on,#off {
    position: absolute;
    right: 75px;
    top: 15px;
    font-weight: 500;
    display: inline-block;
  }
  #on {
    color: #2196F3;
  }

  
  .switch-off { 
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: lightgray;
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
  }
  .switch-on { 
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: rgb(59, 183, 255);
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
  }
  
  .off{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

  }
  .on{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    right: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

  }
  .detail-buy-set {
    width: 40%;
    margin: auto;
  }
  .detail-buy-set a {
    text-decoration: none;
  }
  .show-detail {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
    padding-top: 2em;
    
  }

  .detail {
    display: grid;
    grid-template-columns: 1fr;
  }
  .detail label {
    /* margin-top: 60px; */
    font-size: 18px;
    text-align: center;
  }
  .detail input {
    background-color: white;
    border: 0 !important;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
  }
  .btn-edit-set {
    border: none;
    border-radius: 8px;
    background-color: #ec930c;
    color: white;
    width: 30%;
    display: block;
    outline: none !important;
    height: 35px;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }


.row-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}
.card-set {
  width: 90%;
  margin: auto;
  height: 30em;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.card-img {
  border-radius: 15px !important;
  width: 90%;
  display: block;
  margin: auto;
  height: 15em;
}
.card-name {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}
.set_name {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.set_price {
  text-align: right;
  margin-right: 10%;
  margin-top: 5%;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
}
.text_box {
  margin-top: 5px;
  height:17%;
  width: 90%;
  margin: auto;
}
.pd-name {
  display: inline-block;
  line-height: 10px;
  font-size: 1.2em !important;
}
 .div-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-bottom: -10em; */

}
.setheight{
  height:11em;
  /* background-color: #898f92; */
  margin-bottom: 0.5em;
}
 .btn_edit{
  display: block;
  padding: 5px 10px;
  width: 80% !important;
  margin: auto;
  text-decoration: none;
  /* border: 2px solid #ee9016 ; */
  border-radius: 8px;
  background-color: #ee9016;
  color: whitesmoke;
  transition: 0.3s;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn_edit:hover{
  background-color: #FFA900;
  color: white;
  /* border:2px solid #FFA900; */
}
.btn_delete{
  display: block;
  width: 80% !important;
  margin: auto;
  padding: 5px 10px;
 text-decoration: none;
 /* border: 2px solid  #D83A56; */
 border-radius: 8px;
 background-color: rgb(194, 41, 41);
 color: whitesmoke;
 transition: 0.3s;
 text-align: center;
 font-size: 1.2em;
 font-weight: bold;
 letter-spacing: 2px;
}
.btn_delete:hover{
 background-color: #91091E;
 color: white;
 /* border:2px solid #91091E; */
}
 /* modal */
 .modal-dialog{
  width: 100% !important;
  margin: 0 auto !important;
  margin-top: 7% !important;
}

.dd {
  border-radius: 20px !important;
}
.ee {
  border-radius: 20px !important;
  margin-top: -6.5em !important;
  width: 45em !important;
  margin-left: -10% !important;
}
.momo {
  width: 45em !important;
  margin-left: -15% !important;
  border-radius: 20px !important;
}
.add-name-cat {
  font-family: 'Prompt', sans-serif !important;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #03a4ee;
}
.row-createname {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1em;

}
.form-set h1 {
  text-align: center;
  color: #e4a215;
}
.form-label {
  text-align: right;
  font-size: 1.1em;
}
.form-input-img {
  display: initial !important;
}
.input-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
#select1, #select2, #select3, #select4 {
  margin-top: 10px;
}
.modal-btn-pd {
  margin-bottom: 1em;
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn-edit-pd{
  width: 80% !important;
  display: block;
  margin: auto;
  border: 0px;
  padding: 0.5em 1em;
  font-size: 1.2em !important;
  background-color: #e99f16 !important;
  border-radius: 10px !important;
  color: white !important;
}
.btn-edit-setcus{
  width: 80% !important;
  display: block;
  margin: auto;
  border: 0px;
  padding: 0.5em 1em;
  font-size: 1.2em !important;
  background-color: #eb8816 !important;
  border-radius: 10px !important;
  color: white !important;
}
.btn-save-pd{
  width: 80% !important;
  display: block;
  margin: auto;
  border: 0px;
  padding: 0.5em 1em;
  font-size: 1.2em !important;
  background-color: #04c2fc !important;
  border-radius: 10px !important;
  color: white !important;
}
  
.btn-cancel{
  width: 80% !important;
  display: block;
  margin: auto;
  border: 0px;
  padding: 0.5em 1em;
  font-size: 1.2em !important;
  background-color: #888585 !important;
  border-radius: 10px !important;
  color: white !important;
}
.icon-trash {
  font-size: 5em !important;
  text-align: center;
  color: #c21932;
  transform: rotate(-7deg);
  transform-origin: 150px 0;
}
.de-name-pd {
  font-family: 'Prompt', sans-serif !important;
  text-align: center;
  margin-bottom: 1.5em !important;
}
.de-name-cat {
  font-family: 'Prompt', sans-serif !important;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ee9016;
  margin-bottom: 1.5em !important;
}
.add-name-cat {
  font-family: 'Prompt', sans-serif !important;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #39c0ff;
  margin-bottom: 1.5em !important;
}
.modal-btn-pd {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn-delete-pd{
  width: 80% !important;
  display: block;
  margin: auto;
  font-size: 1.2em !important;
  background-color: #91091E !important;
  border-radius: 10px !important;
  color: white !important;
}
.btn-cancel{
  width: 80% !important;
  display: block;
  margin: auto;
  font-size: 1.2em !important;
  background-color: #888585 !important;
  border-radius: 10px !important;
  color: white !important;
}
.title-modal {
  font-weight: bold;
  color: rgb(214, 166, 32);
  text-align: center;
 
}
.div-showimg {
  width: 90%;
  margin: auto;
}
.showsetimg {
  width: 40%;
  border-radius: 10px;
  margin-top: 10px;
  display: block;
  margin: auto;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #e99f16;
  display: block;
  width: 12em;
  text-align: center;
  margin: auto;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 10px;
}
.custom-file-upload:hover {
  background-color: #d39117;
}
.all-box {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.name-box {
  display: grid;
  grid-template-columns: 1fr;
}
.div-detail {
  margin-top: 10px;
}
.label-detail {
  margin-top: 5px;
}
input[type="text"] {
  border-radius: 5px;
  border: 1px solid rgb(170, 169, 169);
  padding: 5px;
  outline: none;
  color: #088828;
  font-weight: bold;
  letter-spacing: 2px;
}
.label-detail::after {
  content: " (ไม่สามารถแก้ไขสินค้าได้)";
  color: #91091E;
}


@media (max-width: 1180px){
  .username ,.mailji,img.img_profile{
    display: none;
  }
  .sidenav{
    width: 11%;
    padding-top: 0.1em;
  }
  .bi-graph-up,
  .bi-ui-checks-grid,
  .bi-basket-fill,
  .bi-clipboard-data,
  .bi-cash-coin,
  .bi-star,
  .bi-people-fill,
  .bi-shop-window,
  .bi-clipboard-data,
  .bi-chat-square-text-fill,
  .bi-chat-text-fill {
    text-align: center;
    display: block;
    font-size: 1.5em;
  }
  .menu{
    text-align: center;
  }
  .dpn{
    display: none;
  }
  a.menu, a.menu-active{
    width: 5em !important;
    margin-right: 5px;
  }
   .sidenav a{
     padding: 10px 16px  6px 16px;
   }
   a.btn_logout{
     font-size: 0.8em !important;
     font-weight: bold;
     width: 90% !important;
     }

     /* ... */
     .welcome {
       margin-left: 16%;
     }

     a.manage-active {
      font-size: 1.3em !important;
      font-weight: bold;
      letter-spacing: 2px;     }

     a.manage {
       font-size: 1.3em !important;
       letter-spacing: 0;
     }

     .center {
       margin-left: 12%;
       width: 87%;
       height:44em !important;
      }
      .add{
        bottom:3%;
      }
      .card-img{
        height:50%;
      }
      .row-card{
      display: grid;
      grid-template-columns: 1fr 1fr;
      }
    
      .card-new{
        display: grid;
        grid-template-columns: 1fr ;
      }
      .set-name{
        margin-bottom: 0%;

      }

}

