@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');


*{
    font-family: 'Prompt', sans-serif !important;
}
body{
    background-color: rgb(253, 253, 247);
}
.imgpro{
    border-radius: 80%;
    width: 200px;
    height: 200px;
    /* box-shadow: 0 30px 50px rgba(37, 37, 37, 0.2); */
    margin-top: 15%;
    border: 5px solid rgb(228, 191, 166);

  }
.col-4{
    margin-top: 1%;
}
#cover{
    background-color: rgb(250, 246, 248);
    height: 20em;
    padding-bottom: 30vh;
    margin-top: 5em;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 108, 108, 0.2);
}
#cover2{
    background-color: rgb(250, 246, 248);
    height: 30em;
    padding-bottom: 30vh;
    margin-top: 5em;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 108, 108, 0.2);
}


.navbar{
    padding: 0%;
    width: 100%;
    box-shadow: rgb(196, 192, 192) 2px 2px 10px ;  
}
#navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
    margin-left: 0% auto;
}
.breadcrumb{
    margin-top: 5%;
    padding-left: 7%;
    margin-bottom: 1%;
}
h2{
padding-top: 1em;
}
#choice{
    margin: 0 2px;
}
#btn{
    margin-right:2em ;
    font-weight: bold;
}

a{
    color: rgb(13, 136, 145);
}
a:link{
    text-decoration: none;
    font-weight: underline; 
}
a:hover {
    color: lightsalmon;
}
.text_title{
    font-family: 'Kanit', sans-serif !important;
    font-size: 3em;
    color: #F25287;
    margin-top: 2em !important;
    margin-bottom: 3%;
    text-align: center;
    margin: auto;
}
.row-btn {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2em;
    margin-left: 25%;
}
.noti1 {
    position: absolute;
    margin-top: -1.1em !important;
    margin-left: 1.1em !important;
    z-index: 100;
    font-size: 1.7em;
    color: rgb(247, 183, 8);
}
.btn-worn {
    margin-left: 5em;

    display: inline-block;
    width: 9em;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(223, 133, 15);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
}
.btn-worn:hover {
    color: white;
    letter-spacing: 3px;
}
.order-warn {
    display: inline-block;
    margin-top: 1.5em;
    color: rgb(216, 20, 85);
    font-weight: bold;
    letter-spacing: 3px;    
}

.btn-link {
    margin: auto;
    display: block;
    width: 16.5em;
    padding: 10px 5px;
    background-color: white;
    color:#F25287 ;
    border: 2px solid #F25287;
    font-weight: bold;
    transition: .3s;
    border-radius: 10px;

}
.btn-link:hover {
    background-color: #F25287;
    color: white;
}

.p-empty {
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F25287;;
}
.nodata {
    display: block;
    margin: auto;
    width: 10%;
}
.btn-active {
    margin: auto;
    display: block;
    width: 16em;
    padding: 10px 5px;
    background-color: #F25287;
    border: 2px solid #F25287;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    transition: .3s;
    border-radius: 10px;
}
.btn-active:hover {
    color: white;
}
.content-box {
    width: 85% ;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
}
.show-rate {
    color: #F25287;
}
.b-review {
    color: #F25287;
    letter-spacing: 2px;
}

.bi-star {
    font-size: 2em;
    margin-left: 10px;
}

.bi-star-fill {
    font-size: 2em;
    margin-left: 10px;
}
.div-head {
    display: grid;
    grid-template-columns: 7fr 1fr;
    width: 95%; 
    /* border-bottom: 1px solid rgb(214, 214, 214); */
    margin: auto;
    padding-top: 20px;
}
.p-status1 {
    display: inline-block;
    text-align: left; 
    font-weight: bold;
    color: rgb(13, 163, 93);
}

.p-status2 {
    margin-right: 0;
    font-weight: bold;
    background-color: rgb(13, 163, 93);
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    float: right;
    text-align: center;
}
.p-cancel {
    margin-right: 0;
    font-weight: bold;
    background-color: rgb(163, 13, 46);
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    float: right;
    text-align: center;
}
.pd-detail {
    /* height: 10em;
    overflow-y: scroll; */
    /* border-bottom: 1px solid rgb(204, 202, 202); */
    width: 95%;
    margin: auto;
}
.pd-detail::-webkit-scrollbar {
    display: none;
  }

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    
  }
td {
    text-align: left;
    padding: 8px;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
      background-color: #ffffff;}
.img-pd {
    border-radius: 10px;
}
.div-foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn-review1 {
    width: 8em;
    display: inline-block;
    height: 2em;
    margin-top: 5%;
    margin-left: 3%;
    border: 0px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(236, 143, 55);
    color: white;
    border-radius: 5px;

}
.btn-review2 {
    width: 8em;
    display: inline-block;
    height: 2em;
    margin-top: 5%;
    margin-left: 3%;
    border: 0px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(216, 216, 216);
    color: rgb(87, 87, 87);
    border-radius: 5px;

}
.text-sumprice {
    text-align: right;
    font-weight: bold;
    color: rgb(243, 33, 114);
    margin-right: 3%;
}

@media screen and (max-width: 1370px) {
    .row-btn {
        width: 100%;
        margin-left: 0%;
    }
    .btn-link {
        width:100%;
     font-size: 0.8em;
    }
    .btn-active {
        width:100%;
        font-size: 0.8em;
    }

}

@media screen and (max-width: 1024px) {
    .p-status2 {
        font-size: 0.8em;
    }
    .content-box {
        width: 95% ;
    }

}
    
@media screen and (max-width: 750px) {
    .row-btn {
        width: 100%;
        margin-top: 0em;
    }
    .btn-link {
        width:100%;
     font-size: 0.6em;
    }
    .btn-active {
        width:100%;
        font-size: 0.6em;
    }
    .p-status1 {
        font-size: 0.6em;
    }
    .p-status2 {
        font-size: 0.5em;
        padding: 0;
        height: 1.5em;
    }
    .p-cancel {
        font-size: 0.5em;
    }
    .img-pd {
        width: 40px !important;
        height: 40px !important;
    }
    .pd-detail {
        width: 100%;
        font-size: 0.7em;
    }
    table {
        width: 90%;
      }
    td {
        padding: 2px;
      }
    .btn-review1 {
    font-size: 0.6em;
    }
    .btn-review2 {
        font-size: 0.6em;
    }
    .text-sumprice {
        font-size: 0.8em;
    }
    .bi-star {
        font-size: 0.8em;
    }
    
    .bi-star-fill {
        font-size: 0.8em;
    }
    .b-review {
        font-size: 0.8em;
    }
    /* modal sendback  */
    .modal-sendback {
        width: 40em !important;
        margin-left: 3em !important;
        margin-top: 5em !important;
    }
    .modal-detail {
        width: 40em !important;
        margin-left: 3em !important;
        margin-top: 5em !important;
    }


}
    
@media screen and (max-width: 600px) {
    .text_title{
        font-size: 2em;
    }
    .row-btn {
        width: 100%;
        margin-top: 0em;
    }
    .btn-link {
        width:100%;
     font-size: 0.5em;
    }
    .btn-active {
        width:100%;
        font-size: 0.5em;
    }
    .div-head {
        grid-template-columns: 4fr 1fr;
    }
    .div-foot {
        grid-template-columns: 2fr 1fr;
    }
    .btn-review1 {
        font-size: 0.5em;
        width: 10em;
        }
        .btn-review2 {
            font-size: 0.4em;
            padding: 0;
        }
    /* modal sendback  */
    .modal-sendback {
        width: 32em !important;
        margin-left: 1em !important;
        margin-top: 7em !important;
    }
    .modal-detail {
        width: 32em !important;
        margin-left: 1em !important;
        margin-top: 7em !important;
    }
    .btn-link {
        padding: 5px 2px;
    }
    .btn-link:hover {
        background-color: #F25287;
        color: white;
    }
    .btn-active {
        padding: 5px 2px;
        letter-spacing: 1px;
    }



}
    
@media screen and (max-width: 450px) {
    .row-btn {
        width: 95%;
        margin-top: 0em;
        margin-left: 2%;
    } 
    .btn {
        padding: 0;
    }
  
    /* modal sendback  */
    .modal-sendback {
        width: 25em !important;
        margin-left: 0.5em !important;
        margin-top: 7em !important;
    }
    .modal-detail {
        width: 25em !important;
        margin-left: 0.5em !important;
        margin-top: 7em !important;
    }
    
    .btn-link {
        padding: 5px 2px;
    }
    .btn-link:hover {
        background-color: #F25287;
        color: white;
    }
    .btn-active {
        padding: 5px 2px;
        letter-spacing: 1px;
    }
    .sendback-btn {
        gap: 2px;
        margin-left: 1em;
    }

}
    
@media screen and (max-width: 380px) {
    
    /* modal sendback  */
    .modal-sendback {
        width: 23em !important;
        margin-left: 0.2em !important;
        margin-top: 7em !important;
    }
    .modal-detail {
        width: 23em !important;
        margin-left: 0.2em !important;
        margin-top: 7em !important;
    }
    
    .btn-link {
        padding: 2px 2px;
        font-size: 0.4em;
    }
    .btn-link:hover {
        background-color: #F25287;
        color: white;
    }
    .btn-active {
        padding: 2px 0px;
        letter-spacing: 1px;
        font-size: 0.4em;
    }
    .sendback-btn {
        gap: 2px;
        margin-left: 0.5em;
    }

}
    
