@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
*{
    font-family: "Prompt", sans-serif !important;
}
body {
    background-color: white;
}
.row-allpd {
    margin-bottom: 2em;
    margin-top: 100px;
}
.card_index{
    margin:auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.card{
    margin-top: 70px;
    width: 100%;
    margin: auto;
    transition: 0.5s; 
}

.img-slide {
    height: 80vh;
    object-fit: cover;
    border: none !important;
}

.detail {
    border-bottom: 1px solid lightgray;
}
.detail-litle {
    width: 70%;
    margin: auto;
}
.detail-litle2 {
    margin-top: 20px !important;
    width: 70%;
    margin: auto;
    font-size: 18px;
}

.pd-name{
    font-size: 50px;
    color: #F25287;
    padding: 0;
    font-weight:500;

}
.detail-set {
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    margin-bottom: 10px;

}
.product {
    margin-top: 10px;
}
.img-pd {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.priceall {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.priceall p {
    margin: 0;
} 
.price-old {
    font-size: 20px;
}
.price-new {
    font-size: 30px;
    font-weight: 500;
    color: #f1c500;
}
.btn-add {
    margin-top: 30px !important;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.form1 {
display: grid;
grid-template-columns: repeat(3,1fr);
text-align: center;
border: 1px solid rgb(155, 153, 153);
}
.btn-de,.btn-num,.btn-pl {
    border: none;
    text-align: center;
    font-size: 20px;
    color: #5e5c5c;
    background-color: white;
}
.btn-de,.btn-pl {
    font-size: 40px;
}
.btn-addpd {
    background-color: #F25287;
    color: white;
    border: 2px solid #F25287;
    border-radius: 0px 10px 10px 0px;
    transition: 0.3s ease-in-out;
}
.btn-addpd:hover {
    background-color: white;
    color: #F25287;
}
@media screen and (max-width: 1024px) {
    .detail-litle, .detail-litle2{
        width: 90%;
    }
    .btn-add {
        width: 90%;
    }
    .img-slide {
        height: 50vh;
    }
}
@media screen and (max-width: 850px) {
    .card_index{
        grid-template-columns:1fr;
    }
    .card{
        margin-top: 0px; 
    }
    .row-allpd {
        margin-bottom: 70px;
    }

}

@media screen and (max-width: 450px) {

    .card_index2{
        width:100%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .detail-set {
        grid-template-columns: 0.5fr 2fr;
    
    }


}






